/* bearbeitet von Marcia Perez Heilig */

/* Form to create and edit trips */
.tripForm {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 10px;
    margin: 10px;
}

.tripForm input[type="text"],
.tripForm input[type="date"],
.tripForm input[type="password"],
.tripForm select {
    background-color: #FFFFF4;
    color:#35421C;
    padding: 10px;
    border: none;
    border-radius: 10px;
    min-width: 300px;
    margin-left: 20px;
}

.errorText {
    color: red;
    text-decoration: underline;
    font-size: 0.5em;
    text-align: left;
}